[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = For experimental purposes only
[access "refs/*"]
	owner = group user/Anuar Talipov (AnuarTB)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Anuar Talipov (AnuarTB)
	label-Verified = -1..+1 group user/Anuar Talipov (AnuarTB)
	push = group user/Anuar Talipov (AnuarTB)
	read = group user/Anuar Talipov (AnuarTB)
	rebase = group user/Anuar Talipov (AnuarTB)
	removeReviewer = group user/Anuar Talipov (AnuarTB)
	submit = group user/Anuar Talipov (AnuarTB)
[access "refs/heads/*"]
	create = group user/Anuar Talipov (AnuarTB)
	push = +force group user/Anuar Talipov (AnuarTB)
	pushMerge = group user/Anuar Talipov (AnuarTB)
	read = group user/Anuar Talipov (AnuarTB)
[access "refs/tags/*"]
	push = group user/Anuar Talipov (AnuarTB)
	push = +force group user/Anuar Talipov (AnuarTB)
